* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

body {
  background: #f4f4f4;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-color: #FF5F2E;

}


#main {
  display: flex;
  flex-direction: column;
}

.header-component {
  background-color: #651d07;
  padding: 30px;
  border-bottom: 1px solid #a23312;
  position: fixed;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  text-align: center;
}

.header-component .logo  {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 55px;
  text-shadow:
  1px 1px 2px rgba(0,0,0,.2),
  -1px -1px 2px rgba(0,0,0,.2),
  1px -1px 2px rgba(0,0,0,.2),
  -1px 1px 2px rgba(0,0,0,.2),
  1px 1px 2px rgba(0,0,0,.2),
  6px 2px rgba(255,245,4,.6),
  0px -5px rgba(205,4,255,.6),
  0px 5px rgba(28, 105, 222,.6),
  -6px 2px rgba(255,0,0,.6);
}

.search-component {
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  border-radius: 4px;
  box-shadow:
    2px 2px 4px rgba(0,0,0,.2),
    -2px -2px 4px rgba(0,0,0,.2),
    2px -2px 4px rgba(0,0,0,.2),
    -2px 2px 4px rgba(0,0,0,.2),
    2px 2px 4px rgba(0,0,0,.2);
}

.search-component input {
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  border: 3px solid #54c0dd;
  border-radius: 4px 0 0 4px;
  transition: 200ms;
  outline: none;
  font-weight: bold;
}
.search-component input:focus {
  border-color: #cd04ff;
}
.search-component input::placeholder {
  color: #afafaf;
  font-weight: normal;
}

.search-component input:focus ~ .submit-btn {
  background-color: #cd04ff;
  font-size: 26px;
}

.submit-btn {
  transition: 200ms;
  width: 50px;
  outline: none;
  border: none;
  background-color: #54c0dd;
  color: #fff;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
}
.submit-btn:hover {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 500px;
  margin: 0 auto;
  padding-top: 210px;
  animation: fade-in 400ms linear;
}

.no-events-msg {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ffc800;
  text-shadow: 0 2px 3px rgba(0,0,0,.5);
  margin-top: 30px;
}

.main .location {
  text-align: center;
  text-transform: uppercase;
  /*padding: 20px;*/
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.main .today-heading,
.main .tomorrow-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.3);
  margin-bottom: 5px;
}

.main .today-heading .fa,
.main .tomorrow-heading .fa {
  font-size: 20px;
  margin-right: 5px;
}

.event-card {
  display: flex;
  flex-direction: column;
  height: 130px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 200ms;
  text-decoration: none;
  color: #000;
}
.event-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 18px rgba(0,0,0,.5);
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.9);

}

.event-card .artists {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.event-card .primary-artist {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
}

.event-card .supporting-artists {
  margin-top: auto;
  font-size: 16px;
  font-weight: 400;
  color: #8E8E8E;
}

.event-card .card-top {
  display: flex;
  justify-content: space-between;
  height: 47px;
}

.event-card .date-time {
  /*font-size: 18px;*/
  display: flex;
  flex-direction: column;
  color: #8E8E8E;
  text-align: right;
}

.event-card .time {
  margin-top: auto;
}

.event-card .card-bottom {
  margin-top: auto;
  color: #8E8E8E;
}

.card-bottom .fa {
  width: 15px;
  text-align: center;
}

.fa-map-marker {
  color: #54c0dd
}

.spinner-container {
  text-align: center;
  font-size: 100px;
}

#spinner {
  animation: spin 1.5s infinite linear;
  color: #fff;
  margin: 0 auto;
}

.event-card .venue-name {
  margin-bottom: 3px;
}
.event-card .venue-address {
  color: #54c0dd
}

.map-container {
  margin: 20px 0;
  border-radius: 10px;
}

.map-element {
  border-radius: 4px;
}










@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
