* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1, h2, p {
  margin: 0;
}

body {
  background: #f4f4f4;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-color: #FF5F2E;

}


#main {
  display: flex;
  flex-direction: column;
}

.header-component {
  background-color: #FF8F6D;
  padding: 30px;
  border-bottom: 1px solid #ef4410;
  position: fixed;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.header-component .logo  {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 55px;
  text-shadow:
  6px 2px rgba(255,245,4,.4),
  0px -5px rgba(205,4,255,.4),
  0px 5px rgba(28, 105, 222,.4),
    -6px 2px rgba(255,0,0,.4);
}

.search-component {
  display: flex;
  justify-content: center;
}

.search-component input {
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  border: 2px solid rgba(28, 105, 222, 1);
  border-radius: 4px 0 0 4px;
  transition: 200ms;
  outline: none;
}
.search-component input:focus {
  border-color: #1c69de;
}

.submit-btn {
  width: 50px;
  outline: none;
  border: none;
  background-color: #1c69de;
  color: #fff;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
}
.submit-btn:hover {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 500px;
  margin: 0 auto;
  padding-top: 210px;
  animation: fade-in 400ms linear;
}

.main .location {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.event-card {
  display: flex;
  flex-direction: column;
  height: 130px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 200ms;
  text-decoration: none;
  color: #000;
}
.event-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 18px rgba(0,0,0,.5);
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.9);

}

.event-card .artists {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.event-card .primary-artist {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
}

.event-card .supporting-artists {
  margin-top: auto;
  font-size: 16px;
  font-weight: 400;
  color: #8E8E8E;
}

.event-card .card-top {
  display: flex;
  justify-content: space-between;
  height: 47px;
}

.event-card .date-time {
  /*font-size: 18px;*/
  display: flex;
  flex-direction: column;
  color: #8E8E8E;
  text-align: right;
}

.event-card .time {
  margin-top: auto;
}

.event-card .card-bottom {
  margin-top: auto;
  color: #8E8E8E;
}

.card-bottom .fa {
  width: 15px;
  text-align: center;
}

.fa-map-marker {
  color: #54c0dd
}

.event-card .venue-name {
  margin-bottom: 3px;
}
.event-card .venue-address {
  color: #54c0dd
}












@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
